body{
    background: rgb(24,24,25);
    background: linear-gradient(161deg, rgba(24,24,25,1) 18%, rgba(118,120,124,1) 100%);  
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #eceff8;
    text-align: center;
}

@keyframes pulse {
    0% { box-shadow:0 0 8px green, inset 0 0 8px green; }
    50% { box-shadow:0 0 16px green, inset 0 0 14px green; }
    100% { box-shadow:0 0 8px green, inset 0 0 8px green; }
  }

.card {
    height: 150px;
    width: 100%;
    background-color: #eceff8;
    background-size: 150px;
    background-repeat: no-repeat;
    background-position: 50%;
    background-position-y: 50%;
    background-color:eceff8;
    border-radius: 5px;
}

#c1{
    background-image: url("../assets/images/LEOBASS.jpeg");
}

#c2{
    background-image: url("../assets/images/B3K.jpeg");
}

#c3{
    background-image: url("../assets/images/SUBLIME.jpg");
}

#c4{
    background-image: url("../assets/images/SWRL810.jpeg");
}

#c5{
    background-image: url("../assets/images/DG412.jpg")
}



.carousel {
    width: 80%;
    height: 150px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    background-color: transparent; 
    z-index: -1;
}

.inner-carousel {
    width: 200%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    margin: auto 0;
    background-color: transparent;
}

.prev, .next {
    height: 40px;
    width: 30px;
    z-index: 1;
    position: absolute;
    top: 55px;
    padding: 0px;
    margin: 0px;
}

.prev {
    left: 0%;
}

.next {
    right: 0%;
}

.userinput {
    width: 80%;
    height: 150px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #2b2b2b;
}

.scPlayer::-webkit-media-controls-panel{
    background-color: green;
}